@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@700&display=swap");

@layer components {
  .btn {
    background: linear-gradient(270deg, #45c7fa 0%, #2196f3 100%);
    /* box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.03); */
    @apply rounded-[24px] text-white w-[177px] h-[48px] duration-[300] font-roboto text-[18px] leading-[21px] font-bold;
    transition: 0.2s transform, 0.2s box-shadow;
  }
  .btn:hover {
    transform: translateY(-2px);
    @apply shadow-lg;
  }

  .background {
    background: linear-gradient(
      180deg,
      #e8f0f2 0%,
      rgba(232, 240, 242, 0) 100%
    );
  }

  .title {
    @apply font-open font-bold text-2xl leading-[31px] text-blue;
  }
  .question-title {
    @apply font-light text-xl leading-[29px] text-quesTitle;
  }
  .answer-card {
    background: #ffffff;
    border: 1px solid rgba(231, 235, 237, 0.80141);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 14px;
  }
  .answer-text {
    @apply font-semibold text-[18px] leading-[25px] text-textAnswer;
  }
}
#glasses-quiz-widget {
  @apply bg-white;
}
.input {
  @apply w-px h-px overflow-hidden absolute;
  clip: rect(0, 0, 0, 0);
}
